.page {
    &__container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 0 1.5rem;
    }

    &__text {
        &--side {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.4rem;
            color: $clr-grey-550;
            text-transform: uppercase;
        }
    }
}
