*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "SF Pro Text", sans-serif;
  src: url(../fonts/Source_Sans_Pro/FontsFree-Net-SFProText-Regular-1.ttf) format(opentype), url(../fonts/Source_Sans_Pro/FontsFree-Net-SFProText-Semibold-1.ttf) format(opentype), url(../fonts/Source_Sans_Pro/FontsFree-Net-SFProText-Medium.ttf) format(opentype);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "SF Pro Text", sans-serif;
  background-color: #fafafa;
}

img {
  max-width: 100%;
  height: auto;
}

.page__container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.page__text--side {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: #929bb4;
  text-transform: uppercase;
}

.header {
  background: #ffffff;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.6rem 0;
  position: relative;
}

.header__logo {
  padding: 0 1.6rem;
  border-right: 1px solid #e5e5e5;
}

.header__line {
  height: 3.2rem;
  width: 0.1rem;
  background-color: #e5e5e5;
}

.header__list {
  color: #1c538a;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__account {
  margin: 0 1.6rem;
}

.header__list-item {
  padding: 0.8rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.header__list-item:not(:last-child) {
  margin-right: 0.8rem;
}

.header__list-item::before {
  content: "";
  display: block;
  margin-right: 0.8rem;
  height: 2.4rem;
  width: 2.4rem;
}

.header__list-item--category::before {
  background: url(../img/nav-icons/Category.svg) no-repeat;
}

.header__list-item--edit::before {
  background: url(../img/nav-icons/Edit.svg) no-repeat;
}

.header__list-item--settings::before {
  background: url(../img/nav-icons/Setting.svg) no-repeat;
}

.header__list-item--send::before {
  background: url(../img/nav-icons/Send.svg) no-repeat;
}

.header__list-item--chart::before {
  background: url(../img/nav-icons/Chart.svg) no-repeat;
}

.header__list-item--show::before {
  background: url(../img/nav-icons/Show.svg) no-repeat;
}

.header__list-item--active {
  background-color: #e5efff;
  color: #0351df;
}

.header__list-item--upgrade {
  background: rgba(255, 174, 0, 0.8);
  -webkit-box-shadow: 0px 0px 10px rgba(255, 174, 0, 0.4);
          box-shadow: 0px 0px 10px rgba(255, 174, 0, 0.4);
  color: #fff;
  font-weight: 600;
}

.header__list-item--upgrade::before {
  background: url(../img/nav-icons/upgrade.png) no-repeat;
}

.header__list-item--ml-auto {
  margin-left: auto !important;
}

.header__list-item--mr-auto {
  margin-right: auto !important;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 24rem;
  min-height: 90vh;
  padding: 2.6rem 2.2rem;
  background-color: #fff;
}

.sidebar__title {
  margin-bottom: 2rem;
}

.sidebar__list {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: normal;
  color: #1c538a;
  list-style: none;
  counter-reset: my-awesome-counter;
}

.sidebar__list-item {
  padding: 1.2rem;
  border-radius: 0.6rem;
  counter-increment: my-awesome-counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.sidebar__list-item::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.4rem;
  margin-right: 1.2rem;
  border-radius: 50%;
  content: counter(my-awesome-counter);
  width: 2rem;
  height: 2rem;
  background-color: #f7f9ff;
  color: #1c538a;
  font-weight: bold;
}

.sidebar__list-item--active {
  background-color: #e5efff;
}

.sidebar__button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #1c538a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.sidebar__button::before {
  content: url(../img/btn.svg);
  max-height: 3.2rem;
  margin-right: 0.8rem;
}
/*# sourceMappingURL=style.css.map */